body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

#score {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.button-link {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #0056b3;
}

.game-section {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-top: 20px;
}

.back-button-container {
    text-align: left; /* Alinha o botão à esquerda */
    margin-bottom: 20px; /* Espaço entre o botão e o card do texto */
}

.back-button {
    background-color: #6c757d; /* Uma cor cinza para "voltar" */
    padding: 8px 15px; /* Um pouco menor que os botões de ação */
    font-size: 14px;
}

.back-button:hover {
    background-color: #5a6268;
}